{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Site Under Construction</title>
  <link rel="stylesheet" href="{% static 'css/adoption.css'%}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="content">
      🚧
      <h1>We're Building Something Great</h1>
      <p>Our website is currently under construction.<br />We'll be here soon with our new awesome site!</p>
    </div>
  </div>
</body>
</html>
